* {
    margin: 0;
    padding: 0;
}

body {
    font-family: roboto;
}

header {
    background: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.5)),url(../images/bg.jpg);
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.logo {
    height: 80px;
    width: auto;
    float: left;
    top: 0;
    left: 0;
}

.logo img {
    height: 40px;
    margin-top: 20px;
    margin-left: 20px;
    cursor: pointer;
}

.nav-bar {
    position: absolute;
    float: right;
    height: 80px;
    width: auto;
    top: 25px;
    right: 240px;
}

.nav-bar a {
    margin-right: 20px;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 2px;
}

.nav-bar a:hover {
    color: #e96a03;
    transition: 0.8s ease;
}

.nav-bar a.active {
    color: #e96a03;
    border-bottom: 2px solid #e96a03;
}

.top-btns {
    position: absolute;
    top: 20px;
    right: 50px;
}

.sign-in {
    font-size: 16px;
    padding: 3px 15px;
    background-color: transparent;
    border: 2px solid white;
    color: white;
    margin-right: 10px;
    cursor: pointer;
}

.sign-in:hover {
    background-color: #e96a03;
    border: 2px solid #e96a03;
    transition: 0.8s ease-in;
}

.sign-up {
    font-size: 16px;
    padding: 3px 15px;
    background-color: transparent;
    border: 2px solid white;
    color: white;
    cursor: pointer;
}

.sign-up:hover {
    background-color: #e96a03;
    border: 2px solid #e96a03;
    transition: 0.8s ease-in;
}

.title {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

.title h1 {
    color: white;
    text-transform: uppercase;
    font-size: 60px;
    font-weight: bold;
    letter-spacing: 3px;
}

.title h1 span {
    color: #e96a03;
}

.title p {
    background-color: white;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 3px;
    padding: 5px;
    margin-top: 20px;
}

.main-btns {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.watch-videos {
    font-size: 20px;
    font-weight: bolder;
    padding: 10px 15px;
    background-color: #e96a03;
    color: white;
    border-style: none;
    margin-right: 20px;
}

.watch-videos:hover {
    transform: scale(1.2);
    background-color: #e96a03;
    transition: 0.8s ease;
}

.hire-me {
    font-size: 20px;
    font-weight: bolder;
    padding: 10px 45px;
    background-color: #e96a03;
    border-style: none;
    color: white;
}

.hire-me:hover {
    transform: scale(1.2);
    background-color: #e96a03;
    transition: 0.8s ease;
}